legend {
  font: var(--title);
  color: var(--content-primary);
}

.container-add-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2.5rem 1.5rem;
  gap: 1rem;

  & input {
    width: 28rem;
    height: 2.75rem;
    border-radius: 0.75rem;
    padding-left: 1rem;
    background-color: var(--background-secondary);
    border: 3px solid var(--border-primary);

    &:hover {
      border: 3px solid var(--border-hover);
    }

    &:focus {
      border: 3px solid var(--color-brand);
      outline: none;
    }
  }

  & input::placeholder {
    color: var(--content-tertiary);
    font: var(--paragraph);
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    min-width: 9rem;
    height: 2.75rem;
    background-color: var(--color-brand);
    border: none;
    border-radius: 0.75rem;
    font: var(--label);
    color: var(--always-white);
    cursor: pointer;

    &:hover {
      background-color: var(--color-brand-hover);
    }
  } 
}

