*,
*::before,
*::after {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {

  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  --font-family-global: "Inter", sans-serif;

  --title: bold 1.5rem/2rem var(--font-family-global);
  --label: 600 1rem/1.25rem var(--font-family-global);
  --paragraph: 500 1rem/1.25rem var(--font-family-global);
  --link: 500 0.875rem/1rem var(--font-family-global);

  --font-family-logo: "Sora", sans-serif;
}

html {

  font-family: var(--font-family);

}

.container {
  max-width: 39.1875rem;
  width: 87vw;
  margin: auto;
  
}

body {
  
  background-color: var(--background-primary);
  
}